<h1>About Me</h1>
<p>I am a senior at Davis High School in Kaysville Utah. I have owned and operated my lawn care service, The Lawn Wranglers, for 4 years now. I am competitive mountain biker and race for the Davis High Team where I am the senior team captian. Seperately I enjoy photography,   </p> Follow my work on <a href="http://vsco.co/gavenoliver/images/1">VSCO</a>
 </p>
