








<div class="inner cover">
        <h1 class="cover-heading">Welcome!</h1>
        <p class="lead">Check out my other pages to find out more about me!</p>
        <p class="lead">
          <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
</div>
